<form asp-controller="Home" asp-action="Index" method="post">
    <p>Clicken Sie hier um zur Übersichtsseite zurückzukehren:</p>
    <button type="submit" class="btn btn-primary">Übersicht</button>
</form>
