<div class="bg-light m-1"></div>

<ul class="nav bg-dark p-1">
    <li class="nav-item">
        <a asp-controller="Home" asp-action="Index" class="navbar-brand text-white">Übersicht</a>
    </li>
</ul>

<div class="bg-light m-1"></div>
