@model XmlConfigViewModel

@await Html.PartialAsync("~/Views/Shared/Components/Config/Navbar.cshtml")

<h6 class="bg-dark p-1 text-white">Zusammenfassung</h6>

<p>Löschen der XML-Konfigurationsdatei @Model.ConfigXmlLabel erfolgreich.</p>

