<div class="bg-light m-1"></div>

<ul class="nav bg-dark p-1">
    <li class="nav-item">
        <a asp-controller="Account" asp-action="Index" class="navbar-brand text-white">Benutzerverwaltung</a>
    </li>
    <li class="nav-item">
        <a asp-controller="AccountManage" asp-action="Index" class="nav-link">Benutzer</a>
    </li>
    <li class="nav-item">
        <a asp-controller="AccountRoleManage" asp-action="Index" class="nav-link">Benutzergruppen</a>
    </li>
</ul>

<div class="bg-light m-1"></div>
