<form asp-controller="ConfigOpcUaServer" asp-action="Index" method="post">
    <p>Klicken Sie hier um zur Konfigurationsseite der OPC UA Server zu wechseln:</p>
    <p><button type="submit" class="btn btn-primary">Konfiguration</button></p>
</form>
