<div class="bg-light m-1"></div>

<ul class="nav bg-dark p-1">
    <li class="nav-item">
        <a asp-controller="Config" asp-action="Index" class="navbar-brand text-white">Konfiguration</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ConfigXmlIO" asp-action="Index" class="nav-link">XML-Konfiguration</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ConfigOpcUaServer" asp-action="Index" class="nav-link">OPC UA Server</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ConfigOpcUaSubscription" asp-action="Index" class="nav-link">OPC UA Subscriptions</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ConfigOpcUaVariable" asp-action="Index" class="nav-link">OPC UA Variablen</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ConfigSqlDatabase" asp-action="Index" class="nav-link">SQL Datenbank</a>
    </li>
    <li class="nav-item">
        <a asp-controller="ConfigBackup" asp-action="Index" class="nav-link">Sicherung</a>
    </li>
</ul>

<div class="bg-light m-1"></div>
